
    * {
        margin: 0px;
        padding: 0px;
    }
    
    #right {
        font-size: 13px;
        text-align: right;
    }
    
    #right p {
        margin-top: 26px;
        margin-right: 16px;
        word-spacing: 16px;
    }

     #blue{
        width: 58px;
        height: 24px;
        background-color: blue;
        display: inline-block;
        color: #fff;
        line-height: 24px;
        text-align: center;
    }
    
 
    #right p a:visited {
        color: #333;
    }
    
    #right p a:link {
        color: #333;
    }
    
    #right p a:hover {
        color: blue;
    }
    

    #center {
        text-align: center;
    }

      .gap {
        margin-top: 23px;
    }
    
    
    .reset1 input{
        width: 540px;
        height: 34px;
        font-size: 15px;
        padding: 0px 6px;
        border-right: 0px;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        outline: none;

    }
    .reset1 input:hover
    {border: 1px solid #b6b6b6;
        border-right: none;
    }
    .reset2 input{
        width: 100px;
        height: 36px;
        font-size: 15px;
        border: none;
        background-color: #3385ff;
        color: #fff;
        outline: none;
        
    }
    .reset2 input:hover{background-color: #2d78f4;}
    


    .distance {
       
        margin-top: 255px;
        margin-left: 26%;
        font-size: 12px;
    }
    
    .contain {
        width: 120px;
        height: 60px;
        float: left;
        margin-right: 36px;
    }
    
    .contain div div {
        color: #666;
    }
    
    .foot {
        float: left;
        margin-right: 10px;
    }
    
    .spcontain p {
        padding-top: 10px;
    }
    
    .spcontain p a:link {
        color: #272727;
    }
    
    .pdis {
        margin-top: 10px;
        padding-left: 10px;
    }
    
    #fan1 {
        float: left;
        color: #666;
    }
    
    #fan2 {
        padding-top: 6px;
    }
    