
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background: #ececec;
    }
    
    .container-fluid {
        background: #333e50;
        color: #fff;
        height: 60px;
        line-height: 60px;
        min-width: 400px;
    }
    
    .row {
        position: relative;
    }
    
    .logo {
        position: relative;
        top: -3px;
    }
    
    .logoinfo {
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
    }
    
    .gap {
        width: 1px;
        background: #fff;
        position: absolute;
        top: 0;
        right: 210px;
        height: 60px;
    }
    
    .admin {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .adminname {
        position: relative;
        left: -20px;
        top: 0px;
    }
    
    .adminname img {
        position: relative;
        top: 2px;
        left: 4px;
    }
    
    .offbutton {
        background: #00af52;
        display: inline-block;
        height: 60px;
        width: 66px;
    }
    
    .buttonimg {
        position: relative;
        top: 0px;
        left: 16px;
    }
    /* 新闻操作     */
    
    .increase {
        background: #f5f5f5;
        margin-top: 10px;
        border-bottom: 1px solid transparent;
        height: 38px;
        line-height: 38px;
        font-size: 18px;
        font-weight: bold;
        border:
    }
    
    .increase span {
        color: #d83f35 !important;
    }
    
    .increasecon {
        background: #fff;
        height: 280px;
    }
    
    .increasecon label {
        font-size: 12px;
        font-weight: bold;
    }
    
    .increasecongap {
        margin-top: 10px;
    }
    
    .titleinput {
        width: 100%;
        height: 34px;
        border-radius: 5px;
    }
    
    .introduceinput {
        width: 100%;
        height: 74px;
        border-radius: 5px;
    }
    
    .fffback {
        background: #fff;
    }
    
    .conhead {
        font-weight: bold;
        border: 1px solid #fff;
    }
    
    .border {
        border: 1px solid #fff;
    }
    
    .border td {
        padding-left: 14px;
        border: 1px solid #fff;
    }
    .border td strong{
    	color: #337ab7;
    }
    .tablewidth {
        width: 100%;
    }
    
    .saveincrease {
        width: 58px;
        height: 30px;
        background: #337ab7;
        color: #fff;
        font-size: 14px;
        border: none;
        border-radius: 4px;
        margin-top: 8px;
    }
    .moren tr td a{
        cursor: pointer;
    }
