
    div {
        width: 960px;
        height: 200px;
    }
    
    p {
        margin-left: 480px;
    }
    
    h2 {
        margin-left: 566px;
    }

    img{
    	margin-left: 112px;
    }
    